<section id="servicos" class="section benifits-area style-two ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">Nossos principais serviços</h2>
                    <p class="d-none d-sm-block mt-4">Você também pode emitir boletos, fazer TEDs e pagar contas - além de ter toda a gestão financeira da sua empresa direto no aplicativo.</p>
                    <p class="d-block d-sm-none mt-4">Você também pode emitir boletos, fazer TEDs e pagar contas - além de ter toda a gestão financeira da sua empresa direto no aplicativo.</p>
                </div>
            </div>
        </div>
        <div class="row benifits-content">
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-lg-4 p-0" data-aos="fade-up">
                <div class="benifits-item text-center p-5">
                    <!-- Feature Icon -->
                    <div class="feature-icon mb-3">
                        <img src="assets/img/promo_5.png" width="60px" height="60px" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Boletos</h3>
                        <p>Emitir boletos como pessoa fisicia e pessoa juridica com baixo custo na emissão.</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-lg-4 p-0" data-aos="fade-up" data-aos-delay="200">
                <div class="benifits-item text-center p-5">
                    <!-- Feature Icon -->
                    <div class="feature-icon mb-3">
                        <img src="assets/img/promo_6.png" width="90px" height="60px" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Chat online</h3>
                        <p>Suporte 24 horas ao dia, atendimento e assistência para sua conta.</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-lg-4 p-0" data-aos="fade-up" data-aos-delay="400">
                <div class="benifits-item text-center p-5">
                    <!-- Feature Icon -->
                    <div class="feature-icon mb-3">
                        <img src="assets/img/promo_7.png" width="80px" height="80px" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Segurança em Blockchain</h3>
                        <p>Todas as transações registradas em blockchain, com dados imutaveis, transparentes e criptografados.</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-lg-4 p-0" data-aos="fade-up" data-aos-delay="600">
                <div class="benifits-item text-center p-5">
                    <!-- Feature Icon -->
                    <div class="feature-icon mb-3">
                        <img src="assets/img/promo_8.png" width="80px" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Cartão pré-pago</h3>
                        <p>Cartão pré-pago, com serviços de conta digital, aceito em milhares de estabelecimentos físicos e online.</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-lg-4 p-0" data-aos="fade-up" data-aos-delay="800">
                <div class="benifits-item text-center p-5">
                    <!-- Feature Icon -->
                    <div class="feature-icon mb-3">
                        <img src="assets/img/promo_9.png" width="70px" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">TED/DOC/PIX</h3>
                        <p>Todos os métodos de transferências bancárias com zero de taxas e ilimitado.</p>
                    </div>
                </div>
            </div>
            <!-- Benifits Item -->
            <div class="col-12 col-sm-6 col-lg-4 p-0" data-aos="fade-up" data-aos-delay="1000">
                <div class="benifits-item text-center p-5">
                    <!-- Feature Icon -->
                    <div class="feature-icon mb-3">
                        <img src="assets/img/promo_10.png" width="60px" alt="">
                    </div>
                    <!-- Benifits Text -->
                    <div class="benifits-text">
                        <h3 class="mb-2">Saque 24horas</h3>
                        <p>Terminais 24 horas disponiveis para saque.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>