<section id="cartao" class="section service-area bg-gray overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <!-- Service Text -->
                <div class="service-text pt-4 pt-lg-0">
                    <h2 class="text-capitalize mb-4">Cartão pré-pago</h2>
                    <!-- Service List -->
                    <ul class="service-list">
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fab fa-buffer"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Cartão pré-pago tanto virtual quanto o físico são diretamente integrados aos saldos das contas digitais. </p>
                            </div>
                        </li>
                       
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-burn"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Negativado, não tem problema! Você pode pedir o seu cartão ou abrir a sua conta digital mesmo assim, o cadastro é feito em minutos e em poucos dias ele estará aí na sua casa.</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-cart-arrow-down"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Realize suas compras com segurança. Realizar compras pela Internet e em qualquer estabelecimento credenciado pela bandeira ELO.</p>
                            </div>
                        </li>
                    </ul>
                  
                </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2">
                <!-- Service Thumb -->
                <div class="service-thumb mx-auto">
                    <!-- Thumb Top -->
                    <div class="thumb-top" data-aos="zoom-in" data-aos-offset="300" data-aos-duration="700">
                        <img src="assets/img/service_thumb_top.png" alt="">
                    </div>
                    <!-- Thumb Certer -->
                    <div class="thumb-center">
                        <img src="assets/img/service_thumb.png" alt="">
                    </div>
                    <!-- Thumb Bottom -->
                    <div class="thumb-bottom" data-aos="fade-left" data-aos-duration="500">
                        <img src="assets/img/service_thumb_bottom.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>