<section class="start-free-area style-two">
    <div class="container">
        <div class="col-12">
            <!-- Start Free Content -->
            <div class="start-free-content text-center shadow-lg" data-aos="fade-up" data-aos-duration="800">
                <!-- Start Free Content -->
                <div class="start-free-text">
                    <strong>Experimente o Flabank gratuitamente!</strong>
                    <h2 class="mt-2 mb-3">Flabank está disponível para todos os dispositivos</h2>
                    <p class="start-free-details d-none d-lg-block">Milhares de clientes adoram o Flabank, faça parte deste grupo e baixe o App para fazer sua conta gratuitamente!</p>
                    <p class="start-free-details d-block d-lg-none">Milhares de clientes adoram o Flabank, faça parte deste grupo e baixe o App para fazer sua conta gratuitamente!</p>
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons d-flex justify-content-center">
                        <a href="#">
                            <img src="assets/img/google_play.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="assets/img/app_store.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>